body, h1, figure, ul, li {
  margin: 0;
  padding: 0;
  color: inherit;
  background: inherit;
  font: inherit;
}

li {
  list-style: none;
}

body {
  font-family: 'Gentium Basic', serif;
}

h1 {
  font-size: 72px;
  font-weight: 700;
  text-align: center;
}

li {
  width: 90px;
  height: 90px;
  border: solid 5px #dddfd4;
  float: left;
  background: #173e43;
  font-size: 72px;
  text-align: center;
}

li:hover{
  background: #fae596;
}

.x {
  color: #173e43;
}

.o {
  color: #3fb0ac;
}

.white {
  background: white;
}

.winner {
  background: #fae596;
}

h2{
  font-size: 48px;
  text-align: center;
  color: black;
}

.game-grid {
  width: 300px;
  border: 5px solid black;
  margin: 100px auto;
}

.group:after {
  display: block;
  content: "";
  clear: both;
}
